{% extends "base.html" %}
{% block content %}
{% load  crispy_forms_tags %}
<div class="row">
    {% include 'dashboard/sidebar.html' %}
    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h2>Add New User</h2>
        <form action="{% url 'add_user' %}" method="POST" >
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br>
        {% else %}
        <h5>You Don't Have Permissions To Add User </h5>
        {% endif %}
    </div>
</div>

{% endblock %}